*.iml
.DS_Store
.classpath
.idea
.metadata
.project
.settings/
bin
compile.net.trajano.eclipse.platform.xml
derby.log
logs.zip
net.trajano.eclipse.platform_*.zip
net.trajano.openfolder.i18n/target
net.trajano.openfolder.selectionprocessor/target
net.trajano.openfolder/target
opensource.trajano.net/features
opensource.trajano.net/plugins
target/
