<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%plugin.platform.actionset.label"
            visible="true"
            id="ActionSet.actionSet">
         <action
               label="%plugin.platform.garbagecollection.menu.text"
               icon="icons/garbage.gif"
               tooltip="%plugin.platform.garbagecollection.menu.tooltip"
               class="net.trajano.eclipse.platform.actions.GarbageCollectionAction"
               menubarPath="file/mru"
               toolbarPath="platform"
               id="net.trajano.eclipse.platform.actions.GarbageCollectionAction">
         </action>
         <action
               label="%recycle.menu.text"
               icon="icons/recycle.gif"
               tooltip="%recycle.menu.tooltip"
               class="net.trajano.eclipse.platform.actions.RecycleEclipseAction"
               menubarPath="file/mru"
               id="net.trajano.eclipse.platform.actions.RecycleEclipseAction">
         </action>
         <action
               class="net.trajano.eclipse.platform.actions.AutoBuildAction"
               icon="icons/autobuild.gif"
               id="net.trajano.eclipse.platform.actions.AutoBuildAction"
               label="%plugin.platform.toggleautobuild.menu.text"
               style="toggle"
               toolbarPath="platform"
               tooltip="%plugin.platform.toggleautobuild.menu.tooltip"/> </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%recycle.preferences.title"
            category="org.eclipse.ui.preferencePages.Workbench"
            class="net.trajano.eclipse.platform.preferences.RecyclePreferencePage"
            id="net.trajano.eclipse.platform.recyclePreferencePage">
         <keywordReference
               id="net.trajano.eclipse.platform.keyword1">
         </keywordReference>
         <keywordReference
               id="net.trajano.eclipse.platform.keyword2">
         </keywordReference>
      </page>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="net.trajano.eclipse.platform.preferences.GarbageCollectionPreferencePage"
            id="net.trajano.eclipse.platform.garbagecollection.PreferencePage"
            name="%garbagecollection.preferences.title">
         <keywordReference
               id="net.trajano.eclipse.platform.keyword1">
         </keywordReference>
         <keywordReference
               id="net.trajano.eclipse.platform.keyword2">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.trajano.eclipse.platform.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="net.trajano.eclipse.platform.keyword1"
            label="%platform.keyword1">
      </keyword>
      <keyword
            id="net.trajano.eclipse.platform.keyword2"
            label="%platform.keyword2">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/clipboard.gif"
               label="%copytoclipboard.menu.cmd.text"
               mnemonic="N">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <reference
                        definitionId="net.trajano.copytoclipboard.visible">
                  </reference>
               </with>
            </visibleWhen>
            <command
                  commandId="net.trajano.copytoclipboard.filename"
                  icon="icons/clipboard.gif"
                  label="%copytoclipboard.menu.cmd.filename.text "
                  mnemonic="F">
               <visibleWhen>
                  <reference
                        definitionId="net.trajano.copytoclipboard.visible.resource">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="net.trajano.copytoclipboard.fullyQualifiedName"
                  icon="icons/clipboard.gif"
                  label="%copytoclipboard.menu.cmd.fullyQualifiedName.text"
                  mnemonic="Q">
               <visibleWhen>
                  <reference
                        definitionId="net.trajano.copytoclipboard.visible.java">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="net.trajano.copytoclipboard.fullyQualifiedPath"
                  icon="icons/clipboard.gif"
                  label="%copytoclipboard.menu.cmd.fullyQualifiedPath.text"
                  mnemonic="U">
               <visibleWhen>
                  <reference
                        definitionId="net.trajano.copytoclipboard.visible.compilationunit">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="net.trajano.copytoclipboard.pathname"
                  icon="icons/clipboard.gif"
                  label="%copytoclipboard.menu.cmd.pathname.text"
                  mnemonic="N">
               <visibleWhen>
                  <reference
                        definitionId="net.trajano.copytoclipboard.visible.resource">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="net.trajano.copytoclipboard.adapterlist"
                  icon="icons/clipboard.gif"
                  label="%copytoclipboard.menu.cmd.adapterList.text"
                  mnemonic="A">
               <visibleWhen>
                  <reference
                        definitionId="net.trajano.copytoclipboard.visible">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
         <menu
               icon="icons/clipboard.gif"
               label="%copytoclipboard.menu.cmd.text"
               mnemonic="N">
            <visibleWhen>
               <with
                     variable="activeMenuEditorInput">
                  <reference
                        definitionId="net.trajano.copytoclipboard.visible">
                  </reference>
               </with>
            </visibleWhen>
            <command
                  commandId="net.trajano.copytoclipboard.filename"
                  icon="icons/clipboard.gif"
                  label="%copytoclipboard.menu.cmd.filename.text "
                  mnemonic="F">
               <visibleWhen>
                  <reference
                        definitionId="net.trajano.copytoclipboard.visible.resource">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="net.trajano.copytoclipboard.fullyQualifiedName"
                  icon="icons/clipboard.gif"
                  label="%copytoclipboard.menu.cmd.fullyQualifiedName.text"
                  mnemonic="Q">
               <visibleWhen>
                  <reference
                        definitionId="net.trajano.copytoclipboard.visible.java">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="net.trajano.copytoclipboard.fullyQualifiedPath"
                  icon="icons/clipboard.gif"
                  label="%copytoclipboard.menu.cmd.fullyQualifiedPath.text"
                  mnemonic="U">
               <visibleWhen>
                  <reference
                        definitionId="net.trajano.copytoclipboard.visible.compilationunit">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="net.trajano.copytoclipboard.pathname"
                  icon="icons/clipboard.gif"
                  label="%copytoclipboard.menu.cmd.pathname.text "
                  mnemonic="N">
               <visibleWhen>
                  <reference
                        definitionId="net.trajano.copytoclipboard.visible.resource">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.trajano.copytoclipboard.visible">
         <iterate>
            <adapt
                  type="org.eclipse.core.runtime.IAdaptable">
            </adapt>
         </iterate>
      </definition>
      <definition
            id="net.trajano.copytoclipboard.visible.resource">
         <iterate>
            <adapt
                  type="org.eclipse.core.resources.IResource">
            </adapt>
         </iterate>
      </definition>
      <definition
            id="net.trajano.copytoclipboard.visible.java">
         <iterate>
            <or>
               <adapt
                     type="org.eclipse.jdt.core.ICompilationUnit">
               </adapt>
               <adapt
                     type="org.eclipse.jdt.core.IPackageFragment">
               </adapt>
               <adapt
                     type="org.eclipse.jdt.core.IMethod">
               </adapt>
               <adapt
                     type="org.eclipse.jdt.core.IType">
               </adapt>
            </or>
         </iterate>
      </definition>
      <definition
            id="net.trajano.copytoclipboard.visible.compilationunit">
         <iterate>
            <or>
               <adapt
                     type="org.eclipse.jdt.core.IPackageFragment">
               </adapt>
               <adapt
                     type="org.eclipse.jdt.core.ICompilationUnit">
               </adapt>
               <adapt
                     type="org.eclipse.jdt.core.IPackageFragment">
               </adapt>
               <adapt
                     type="org.eclipse.jdt.core.IType">
               </adapt>
               <and>
	               <instanceof
	                     value="org.eclipse.core.resources.IFile" />	
               </and>
            </or>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.trajano.copytoclipboard.filename"
            name="%copytoclipboard.menu.cmd.filename">
      </command>
      <command
            id="net.trajano.copytoclipboard.fullyQualifiedPath"
            name="%copytoclipboard.menu.cmd.fullyQualifiedPath">
      </command>
      <command
            id="net.trajano.copytoclipboard.fullyQualifiedName"
            name="%copytoclipboard.menu.cmd.fullyQualifiedName">
      </command>
      <command
            id="net.trajano.copytoclipboard.adapterlist"
            name="%copytoclipboard.menu.cmd.adapterList">
      </command>
      <command
            id="net.trajano.copytoclipboard.pathname"
            name="%copytoclipboard.menu.cmd.pathname">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.trajano.eclipse.platform.actions.ListAdaptersHandler"
            commandId="net.trajano.copytoclipboard.adapterlist">
      </handler>
      <handler
            class="net.trajano.eclipse.platform.actions.CopyFileNameToClipboardHandler"
            commandId="net.trajano.copytoclipboard.filename">
      </handler>
      <handler
            class="net.trajano.eclipse.platform.actions.CopyFullyQualifiedPathToClipboardHandler"
            commandId="net.trajano.copytoclipboard.fullyQualifiedPath">
      </handler>
      <handler
            class="net.trajano.eclipse.platform.actions.CopyPathNameToClipboardHandler"
            commandId="net.trajano.copytoclipboard.pathname">
      </handler>
      <handler
            class="net.trajano.eclipse.platform.actions.CopyFullyQualifiedNameToClipboardHandler"
            commandId="net.trajano.copytoclipboard.fullyQualifiedName">
      </handler>
   </extension>
</plugin>
