<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="selectionProcessor" name="Selection Processor" schema="schema/selectionProcessor.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="net.trajano.openfolder.internal.preferences.OpenFolderPreferencePage"
            id="net.trajano.openfolder.page1"
            name="%preferences.title">
         <keywordReference
               id="net.trajano.openfolder.platform.keyword1">
         </keywordReference>
         <keywordReference
               id="net.trajano.openfolder.platform.keyword2">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.trajano.openfolder.internal.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="net.trajano.openfolder.platform.keyword1"
            label="%platform.keyword1">
      </keyword>
      <keyword
            id="net.trajano.openfolder.platform.keyword2"
            label="%platform.keyword2">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/folder.gif"
               label="%plugin.menu.text"
               mnemonic="N">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <and>
                     <reference
                           definitionId="net.trajano.openfolder.canOpen">
                     </reference>
                     <not>
                        <reference
                              definitionId="net.trajano.eclipsepropertytester.isMacOSX">
                        </reference>
                     </not>
                  </and>
               </with>
            </visibleWhen>
            <command
                  commandId="net.trajano.openfolder.command.commandprompt"
                  icon="icons/cmd.png"
                  label="%cmd.text"
                  mnemonic="C">
            </command>
            <command
                  commandId="net.trajano.openfolder.command.explorer"
                  icon="icons/explorer.png"
                  label="%explorer.text"
                  mnemonic="E">
            </command>
         </menu>
         <menu
               icon="icons/folder.gif"
               label="%plugin.menu.text"
               mnemonic="N">
            <command
                  commandId="net.trajano.openfolder.command.commandprompt"
                  icon="icons/cmd.png"
                  label="%cmd.text"
                  mnemonic="C">
            </command>
            <command
                  commandId="net.trajano.openfolder.command.explorer"
                  icon="icons/explorer.png"
                  label="%explorer.text"
                  mnemonic="E">
            </command>
            <visibleWhen>
               <with
                     variable="activeMenuEditorInput">
                  <and>
                     <not>
                        <reference
                              definitionId="net.trajano.eclipsepropertytester.isMacOSX">
                        </reference></not>
                     <reference
                           definitionId="net.trajano.openfolder.canOpen">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/folder.gif"
               label="%plugin.menu.text"
               mnemonic="N">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <and>
                     <reference
                           definitionId="net.trajano.openfolder.canOpen">
                     </reference>
                        <reference
                              definitionId="net.trajano.eclipsepropertytester.isMacOSX">
                        </reference>
                  </and>
               </with>
            </visibleWhen>
            <command
                  commandId="net.trajano.openfolder.command.terminal"
                  icon="icons/terminal.png"
                  label="%terminal.text"
                  mnemonic="T">
            </command>
            <command
                  commandId="net.trajano.openfolder.command.explorer"
                  icon="icons/finder.png"
                  label="%finder.text"
                  mnemonic="F">
            </command>
         </menu>
         <menu
               icon="icons/folder.gif"
               label="%plugin.menu.text"
               mnemonic="N">
            <command
                  commandId="net.trajano.openfolder.command.terminal"
                  icon="icons/terminal.png"
                  label="%terminal.text"
                  mnemonic="T">
            </command>
            <command
                  commandId="net.trajano.openfolder.command.explorer"
                  icon="icons/finder.png"
                  label="%finder.text"
                  mnemonic="F">
            </command>
            <visibleWhen>
               <with
                     variable="activeMenuEditorInput">
                  <and>
                        <reference
                              definitionId="net.trajano.eclipsepropertytester.isMacOSX">
                        </reference>
                     <reference
                           definitionId="net.trajano.openfolder.canOpen">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.trajano.openfolder.canOpen">
         <iterate>
            <adapt
                  type="org.eclipse.core.runtime.IAdaptable">
               <test
                     forcePluginActivation="true"
                     property="net.trajano.openfolder.canOpen">
               </test>
            </adapt>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.trajano.openfolder.internal.SelectionTester"
            id="net.trajano.openfolder.selectionTester"
            namespace="net.trajano.openfolder"
            properties="canOpen"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.trajano.openfolder.command.explorer"
            name="%explorer.command">
      </command>
      <command
            id="net.trajano.openfolder.command.commandprompt"
            name="%cmd.command">
      </command>
      <command
            id="net.trajano.openfolder.command.terminal"
            name="%terminal.command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.trajano.openfolder.internal.actions.OpenInCommandPromptCommand"
            commandId="net.trajano.openfolder.command.commandprompt">
      </handler>
      <handler
            class="net.trajano.openfolder.internal.actions.OpenInExplorerCommand"
            commandId="net.trajano.openfolder.command.explorer">
      </handler>
      <handler
            class="net.trajano.openfolder.internal.actions.OpenInTerminalCommand"
            commandId="net.trajano.openfolder.command.terminal">
      </handler>
   </extension>

</plugin>
